extends template/admin_sideBar.pug

block admin_content
    if table == "boletos"
        include admin/boletosContainer.pug

    else if table == "usuarios"
        include admin/usuariosContainer.pug

    else if table == "funciones"
        include admin/funcionesContainer.pug

    else if table == "cines"
        include admin/cinesContainer.pug

    else if table == "salas"
        include admin/salasContainer.pug
                
    else
        h2(style="color:white") Dashboard
