extends template/layout.pug 

block content 
    if isLoggedIn
        table.table.table-striped.primary.text-white
            tr 
                th Title 
                th VoteCount 
                th Popularity
            each item in apiResults
                tr 
                    td=item.title 
                    td=item.vote_count
                    td=item.popularity
    else 
        h3 Not logged in
